################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PencilProgram/~$logic.docx
PencilProgram/.vs
/PencilProgram/.vs/PencilProgram/v17/.suo
/PencilProgram/.vs/PencilProgram/v17/Browse.VC.db
/PencilProgram/.vs/PencilProgram/v17/ipch/AutoPCH/9d0d506d9fde45bb/MAIN.ipch
