################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PencilProgram/~$logic.docx
PencilProgram/.vs