################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PencilProgram/~$logic.docx
PencilProgram/.vs
PencilProgram/.vs/
/PencilProgram/.vs/PencilProgram/v17/.suo
/PencilProgram/.vs/PencilProgram/v17/Browse.VC.db
/PencilProgram/.vs/PencilProgram/v17/ipch/AutoPCH/9d0d506d9fde45bb/MAIN.ipch
/PencilProgram/SimulatedAnnealing/SimulatedAnnealing.vcxproj
/PencilProgram/SimulatedAnnealing/SimulatedAnnealing.vcxproj.filters
/PencilProgram/.vs/PencilProgram/v17/ipch/AutoPCH/1661b8c9195ff6d4/OBJECTS.ipch
/PencilProgram/.vs/PencilProgram/v17/ipch/AutoPCH/1661b8c9195ff6d4/OBJECTS.ipch
/PencilProgram/bin/intermediates/x64/Debug
/.vs/PencilSimAnnealing/v17
/PencilProgram/bin/x64/Debug
